.brands_container {
    margin-top: 30px;
}

.brands {
    color: var(--black);
    font-size: 1.5625rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    border-radius: 15px;
    max-width: 200px;
    padding: 5px;
    letter-spacing: 2px;
    margin: 0 auto;
}

.brands_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .brands_card_container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .brands_card_container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
